@using Visma.Fagsamling.Domain.Models
@{
    ViewData["Title"] = "Informasjon";

}

<div class="jumbotron">
    <h2>Info</h2>
    <ul class="list-group">
        <li class="list-group-item"><a class="navbar-link" href="https://developer.oslobysykkel.no/api" target="_blank">API over bysykler i OSLO</a></li>
        <li class="list-group-item"><a class="navbar-link" href="https://api.entur.org" target="_blank">API over reiseplanlegger, tidstabeller fra bla Ruter</a></li>
        <li class="list-group-item"><a class="navbar-link" href="https://developers.google.com/maps/documentation/geolocation/intro" target="_blank">Geolocation API</a></li>
    </ul>
</div>